{%if PROD%}
<script>
// Initialize dataLayer
window.dataLayer = window.dataLayer || [];

// Initial dataLayer push with GTM parameters and user_id
dataLayer.push({
    'gtm.start': new Date().getTime(),
    'event': 'gtm.js',
    'user_id': '{{user_id|default:""}}'
});

// Load GTM script
(function(w,d,s,l,i){
    w[l]=w[l]||[];
    var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),
        dl=l!='dataLayer'?'&l='+l:'';
    j.async=true;
    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
    f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MP3RX5XP');
</script>
{%endif%}